

<div style="display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: #494747;">

  <div class="login-container" style="text-align: center; border: 1px solid #ccc; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); background-color: #858181; width: 70%;">
  
      <h2 style="color: #333;">Login</h2>
      <form (ngSubmit)="onSubmit()">
          <div class="form-group" style="margin: 10px 0;">
              <label for="username" style="display: block; font-weight: bold; font-size: larger;">Username</label>
              <input type="text" id="username" name="username" [(ngModel)]="username" required style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #e2d0d0; border-radius: 5px;">
          </div>
          <div class="form-group" style="margin: 10px 0;">
              <label for="password" style="display: block; font-weight: bold; font-size: larger">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="password" required style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;">
          </div>
          <button type="submit" style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Login</button>
      </form>
  </div>
  
</div>
  
