
*.vsidx
*.json
*.pack
*.vsidx
*.vsidx
InventorymanagementSystem/.vs/InventorymanagementSystem/FileContentIndex/4f6456bc-7bbc-43c8-991b-744a6b19af45.vsidx
InventorymanagementSystem/.vs/InventorymanagementSystem/v17/.suo
*.dll
*.pdb
*.old
*.v2
*.vsidx
InventorymanagementSystem/.vs/InventorymanagementSystem/v17/.suo
*.dll
*.v2
*.bin
*.dll
*.pdb
*.dll
*.vsidx
