<div style=" justify-content: center; align-items: center; height: 100vh;">
  
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()"
    style="text-align: center; background-color: #f7f7f7; padding: 10px; border-radius: 1px;">
    <div class="form-group" style="margin: 10px 0;">
      <label for="itemCode" style="display: block; font-weight: bold; font-size: larger">Item Code</label>
      <input type="text" id="itemCode" formControlName="itemCode" required
        style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #ccc; border-radius: 5px;">
      <div *ngIf="itemForm.get('itemCode')?.hasError('required')" class="text-danger">
        Item Code is required.
      </div>

    </div>
    <div class="form-group" style="margin: 10px 0;">
      <label for="itemName" style="display: block; font-weight: bold; font-size: larger;">Item Name</label>
      <input type="text" id="itemName" formControlName="itemName" required
        style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #e2d0d0; border-radius: 5px;">
      <div *ngIf="itemForm.get('itemName')?.hasError('required')" class="text-danger">
        Item Name is required.
      </div>

    </div>
    <div class="form-group" style="margin: 10px 0;">
      <label for="brandName" style="display: block; font-weight: bold; font-size: larger;">Brand Name</label>
      <input type="text" id="brandName" formControlName="brandName" required
        style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #e2d0d0; border-radius: 5px;">
      <div *ngIf="itemForm.get('brandName')?.hasError('required')" class="text-danger">
        Brand Name is required.
      </div>

    </div>
    <div class="form-group" style="margin: 10px 0;">
      <label for="unitOfMeasurement" style="display: block; font-weight: bold; font-size: larger;">Unit Of
        Measurement</label>
      <input type="text" id="unitOfMeasurement" formControlName="unitOfMeasurement" required
        style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #e2d0d0; border-radius: 5px;">
      <div *ngIf="itemForm.get('unitOfMeasurement')?.hasError('required')" class="text-danger">
        Unit Of Measurement is required.
      </div>
    </div>
    <div class="form-group" style="margin: 10px 0;">
      <label for="purchaseRate" style="display: block; font-weight: bold; font-size: larger;">Purchase Rate</label>
      <input type="text" id="purchaseRate" formControlName="purchaseRate" required
        style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #e2d0d0; border-radius: 5px;">
      <div *ngIf="itemForm.get('purchaseRate')?.hasError('required')" class="text-danger">
        Purchase Rate is required.
      </div>
      <div *ngIf="itemForm.get('purchaseRate')?.hasError('pattern')" class="text-danger">
        Purchase Rate must be a valid number.
      </div>
    </div>
    <div class="form-group" style="margin: 10px 0;">
      <label for="salesRate" style="display: block; font-weight: bold; font-size: larger;">Sales Rate</label>
      <input type="text" id="salesRate" formControlName="salesRate" required
        style="width: 80%; padding: 10px; margin: 5px 0; border: 1px solid #e2d0d0; border-radius: 5px;">
      <div *ngIf="itemForm.get('salesRate')?.hasError('required')" class="text-danger">
        Sales Rate is required.
      </div>
      <div *ngIf="itemForm.get('salesRate')?.hasError('pattern')" class="text-danger">
        Sales Rate must be a valid number.
      </div>
    </div>
    <button type="submit"
      style="background-color: #007bff; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">ADD ITEM </button>
  </form>

</div>