
<nav style="background-color: #333; padding: 10px;">
    <ul style="list-style: none; padding: 0; display: flex; justify-content: center;">
      <li style="margin-right: 20px;">
        <a routerLink="/home" routerLinkActive="active" style="text-decoration: none; color: #fff; font-weight: bold;margin-right: 70px;">Home</a>
      </li>
      <li style="margin-right: 20px;">
        <a routerLink="/stocks" routerLinkActive="active" style="text-decoration: none; color: #fff; font-weight: bold;margin-right: 70px;">Stock</a>
      </li>
      <li>
        <a routerLink="/items" routerLinkActive="active" style="text-decoration: none; color: #fff; font-weight: bold;margin-right: 70px;">Item</a>
      </li>
      <li>
        <a routerLink="/store" routerLinkActive="active" style="text-decoration: none; color: #fff; font-weight: bold;margin-right: 70px;">Store</a>
      </li>
    </ul>
</nav>
  
<router-outlet></router-outlet>