<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <form [formGroup]="itemUpdateForm" (ngSubmit)="updateItem()" style="text-align: center; background-color: #f7f7f7; padding: 20px; border-radius: 10px;">
    <!-- <div class="form-group" style="margin-bottom: 15px;">
      <label for="itemId">Item ID</label>
      <input type="text" id="itemId" name="itemId" formControlName="itemId" required style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;" [value]="selectedItems.itemId">
      
    </div> -->

    <div class="form-group" style="margin-bottom: 15px;">
      <label for="itemCode">Item Code</label>
      <input type="text" id="itemCode" name="itemCode" formControlName="itemCode" required style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;" [value]="selectedItems.itemCode">
      <div *ngIf="itemUpdateForm.get('itemCode')?.hasError('required')" class="text-danger">
        Item Code is required.
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
      <label for="itemName">Item Name</label>
      <input type="text" id="itemName" name="itemName" formControlName="itemName" required style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
      <div *ngIf="itemUpdateForm.get('itemName')?.hasError('required')" class="text-danger">
        Item Name is required.
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
      <label for="brandName">Brand Name</label>
      <input type="text" id="brandName" name="brandName" formControlName="brandName" style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
      <label for="unitOfMeasurement">Unit of Measurement</label>
      <input type="text" id="unitOfMeasurement" name="unitOfMeasurement" formControlName="unitOfMeasurement" required style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
      
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
      <label for="purchaseRate">Purchase Rate</label>
      <input type="number" id="purchaseRate" name="purchaseRate" formControlName="purchaseRate" required style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
      <!-- <div *ngIf="itemUpdateForm.get('purchaseRate')?.hasError('required')" class="text-danger">
        Purchase Rate is required.
      </div> -->
    </div>

    <div class="form-group" style="margin-bottom: 15px;">
      <label for="salesRate">Sales Rate</label>
      <input type="number" id="salesRate" name="salesRate" formControlName="salesRate" required style="padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
      <!-- <div *ngIf="itemUpdateForm.get('salesRate')?.hasError('required')" class="text-danger">
        Sales Rate is required.
      </div> -->
    </div>

    <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: #fff; border: none; border-radius: 5px;" >Update Item</button>
  </form>
</div>

